{
    "extends": "airbnb-base",
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2017,
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    },
    "rules": {
      "semi":"error"
    },
    "env": {
      "node": true,
      "es6": true,
      "mocha": true
    }
  }
