{
    "extends": "airbnb-base",
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2017,
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    },
    "rules": {
      "array-callback-return": 0,
      "no-param-reassign": 0,
      "class-methods-use-this": 0,
      "no-throw-literal" : 0,
      "no-await-in-loop": 0,
      "semi":"error"
    },
    "env": {
      "node": true,
      "es6": true,
      "mocha": true
    }
  }
  